<div class="my-10">
    {{ if .Content }}
    <div class="my-10">
        {{- partial "content.html" . -}}
    </div>
    {{ end }}

    {{ range .Sections.ByWeight }}
        {{ $expand_sections := .Params.bookcase_expand_sections | default true }}
        {{ $expand_pages := .Params.bookcase_expand_pages | default true }}
        {{ $expand_reveal_content := .Params.bookcase_expand_reveal_content | default true }}

        <div class="mb-10">
            <h1 class="font-semibold text-black text-2xl mb-6">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h1>

            {{ if $expand_reveal_content }}
                {{ if .Content }}
                <div class="my-6">
                    {{- partial "content.html" . -}}
                </div>
                {{ end }}
            {{ end }}

            {{ $res := default nil }}
            {{ if and $expand_sections $expand_pages }}
                {{ $res = .Pages }}
            {{ else if $expand_sections }}
                {{ $res = .Sections }}
            {{ else if $expand_pages }}
                {{ $res = .RegularPages }}
            {{ end }}

            {{ if $res }}
                <div class="overflow-indicator-wrapper">
                    <div class="overflow-indicator overflow-indicator-btn overflow-indicator-btn-left"></div>
                    <div class="overflow-indicator overflow-indicator-overlay-left"></div>
                    <div class="overflow-indicator-content no-scrollbar">
                        <div class="flex flex-shrink-0">
                            {{ range $res.ByWeight }}
                                {{- partial "bookcase/item.html" . -}}
                            {{ end }}
                        </div>
                    </div>
                    <div class="overflow-indicator overflow-indicator-overlay-right"></div>
                    <div class="overflow-indicator overflow-indicator-btn overflow-indicator-btn-right"></div>
                </div>
            {{ end }}
        </div>
    {{ end }}
</div>