{{ $cover_src := .Params.bookcase_cover_src | default .Params.bookcase_cover_src_dark }}
{{ $cover_src_dark := .Params.bookcase_cover_src_dark | default .Params.bookcase_cover_src }}

<figure>
    <a class="relative" href="{{ .RelPermalink }}">
        <img src="{{ $cover_src | absURL }}" class="dark:hidden w-32 h-48 rounded-md shadow-xl object-cover">
        <img src="{{ $cover_src_dark | absURL }}" class="hidden dark:block w-32 h-48 rounded-md shadow-xl object-cover">
        <div class="bookcase-item-overlay w-32 h-48 rounded-md absolute top-0 left-0"></div>
    </a>
    <figcaption class="text-center text-sm mt-3">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </figcaption>
</figure>
