{{ define "content" }}
<div class="ballon">
    {{ partial "ballon/item.html" (dict "img" .Params.ballon_img "head" .Content "line-above" false "line-below" true) }}

    {{ $res := .Site.GetPage .Params.ballon_resources }}
    {{ $pages := $res.Resources.ByType "page" }}
    {{ $max_idx := sub (len $pages) 1 }}

    {{ range $index, $value := (sort $pages "Params.weight" "asc") }}
        {{ with .Title }}
            {{ partial "ballon/item.html" (dict "title" . "line-above" true "line-below" true "nodot" true) }}
        {{ end }}
        {{ with .Content }}
            {{ partial "ballon/item.html" (dict "content" . "line-above" true "line-below" (ne $index $max_idx)) }}
        {{ end }}
    {{ end }}
</div>
{{ end }}