{{ with .Content }}
    <div class="my-10">
        <article>
            {{- . -}}
        </article>
    </div>
{{ end }}

{{ if .Params.gallery_resources }}
    <div>
        {{ $res := .Site.GetPage .Params.gallery_resources }}
        {{ $pages := $res.Resources.ByType "page" }}

        {{ if $pages }}
            {{ $max_idx := sub (len $pages) 1 }}

            {{ range $index, $value := (sort $pages "Params.weight" "asc") }}
                <div class="mb-16 last:mb-0">
                    <figure class="sm:-mx-6">
                        <a target="_blank" href="{{ .Params.title_url }}">
                            <img src="{{ .Params.gallery_img }}" alt="{{ .Title }}">
                        </a>
                    </figure>
                    <div class="mt-8 mb-4">
                        <a target="_blank" href="{{ .Params.title_url }}" class="border-b border-gray-400 hover:border-gray-800 text-black text-2xl font-bold">
                            {{- .Title -}}
                        </a>
                    </div>
                    <div class="my-4">
                        <article>
                            {{ .Content }}
                        </article>
                    </div>
                    <div class="grid grid-cols-2 gap-2" style="grid-template-columns: max-content 1fr">
                        {{ range $stat := .Params.statistic }}
                            <div>{{ $stat.key }}</div>
                            <div>{{ $stat.value }}</div>
                        {{ end }}
                    </div>
                </div>
            {{ end }}
        {{ else }}
            <span>There is no page under {{ .Params.gallery_resources }}. You need to specify "gallery_resources" correctly in front-matter and check the existence of posts under this folder.</span>
        {{ end }}
    </div>
{{ else }}
    <span>Resouces not found. You need to specify "gallery_resources" correctly in front-matter.</span>
{{ end }}
