{{ $img := .Params.balloon_img_src | default .Params.balloon_img_src_dark }}
{{ $img_dark := .Params.balloon_img_src_dark | default .Params.balloon_img_src }}
{{ $balloon_circle := .Params.balloon_circle | default true }}

{{ $img_style := "w-full" }}
{{ if $balloon_circle }}
    {{ $img_style = printf "%s %s" $img_style "rounded-full" }}
{{ end }}

{{ $content_style := slice }}
{{ if or $img $img_dark }}
    {{ $content_style = $content_style | append "md:ml-4" }}
{{ else }}
    {{ $content_style = $content_style | append "md:ml-0" }}
{{ end }}
{{ $content_style = delimit $content_style " " }}

<div class="flex w-full flex-col md:flex-row">
    {{/*  For desktop layout  */}}
    <div class="w-28 relative hidden flex-col items-center md:flex">
        <div class="dark:hidden">
            {{ partial "balloon/head/desktop.html" (dict "img" $img "img_style" $img_style) }}
        </div>
        <div class="hidden dark:block">
            {{ partial "balloon/head/desktop.html" (dict "img" $img_dark "img_style" $img_style ) }}
        </div>
        {{ partial "balloon/line.html" false }}
    </div>
    {{/*  For mobile layout  */}}
    <div class="w-full flex justify-center md:hidden">
        <div class="dark:hidden">
            {{ partial "balloon/head/mobile.html" (dict "img" $img "img_style" $img_style) }}
        </div>
        <div class="hidden dark:block">
            {{ partial "balloon/head/mobile.html" (dict "img" $img_dark "img_style" $img_style ) }}
        </div>
    </div>

    <div class="flex flex-1 justify-center md:justify-start items-center {{ $content_style }}">
        <div class="text-center md:text-left">
            {{- partial "content.html" . -}}
        </div>
    </div>
</div>
