{{- $icon_name := .name -}}
{{- $icon_width := .width | default "1.5rem" -}}
{{- $icon_height := .height | default "1.5rem" -}}
{{- $sprite := resources.Get "lib/icns/simple-icons-sprite-v11.15.0.svg" -}}
{{- $regex := printf `<symbol id="%s".*?>(.*?)\n<\/symbol>` $icon_name -}}
{{- $path := index (index (findRESubmatch $regex $sprite.Content) 0) 1 | safeHTML }}
<svg
    xmlns="http://www.w3.org/2000/svg"
    role="img" width="{{ $icon_width }}" height="{{ $icon_height }}" viewBox="0 0 24 24" fill="currentColor">
    {{ $path }}
</svg>

