{{ $hasdot := not (index . "nodot") }}
{{ $img := index . "img" }}
{{ $img_circle := index . "img-circle" }}
{{ if eq $img_circle nil }}
    {{ $img_circle = true }}
{{ end }}

{{ if $img }}
<div class="ballon-item has-head">
{{ else }}
<div class="ballon-item">
{{ end }}
    <div class="ballon-prefix">
        <div class="line-group">
            {{ if $hasdot }}
                <div class="line-above line-container">
                    {{ partial "ballon/line.html" (index . "line-above") }}
                </div>
                <div class="line-below line-container">
                    {{ partial "ballon/line.html" (index . "line-below") }}
                </div>
            {{ else }}
                <div class="line-container">
                    {{ partial "ballon/line.html" (index . "line-above") }}
                </div>
                <div class="line-container">
                    {{ partial "ballon/line.html" (index . "line-below") }}
                </div>
            {{ end }}
        </div>

        {{ if $img }}
            <div class="ballon-head">
                {{ if $img_circle }}
                    <img src='{{- $img -}}' class="circle">
                {{ else }}
                    <img src='{{- $img -}}'>
                {{ end }}
            </div>
        {{ else if $hasdot }}
            <div class="dot"></div>
        {{ end }}
    </div>
    {{ with index . "head" }}
        <div class="ballon-content ballon-head-content">
            <article>
                {{ . | safeHTML }}
            </article>
        </div>
    {{ end }}
    {{ with index . "title" }}
        <div class="ballon-content ballon-section-title">
            {{ . | safeHTML }}
        </div>
    {{ end }}
    {{ with index . "content" }}
        <div class="ballon-content ballon-card">
            <article>
                {{ . | safeHTML }}
            </article>
        </div>
    {{ end }}
</div>