{{ define "content" }}

{{ $expand_subsection := .Params.bookcase_expand_subsection | default false }}

<div>
    {{ if $expand_subsection }}
        {{- partial "bookcase/reveal-content.html" . -}}
        {{ range .Sections.ByWeight }}
            {{- partial "bookcase/expand-subsection.html" . -}}
        {{ end }}
    {{ else }}
        {{- partial "bookcase/expand-subsection.html" . -}}
    {{ end }}
</div>

{{ $js := resources.Get "js/overflow-indicator.js" }}
<script src="{{ $js.RelPermalink }}"></script>
{{ end }}
