{{ define "content" }}

{{ $list_sections := .Params.bookcase_list_sections | default true }}
{{ $list_pages := .Params.bookcase_list_pages | default true }}

{{ $res := default nil }}
{{ if and $list_sections $list_pages }}
    {{ $res = .Pages }}
{{ else if $list_sections }}
    {{ $res = .Sections }}
{{ else if $list_pages }}
    {{ $res = .RegularPages }}
{{ end }}

<div class="my-8">

    <div class="my-8">
        <h1 class="font-semibold text-2xl mb-6">{{ .Title }}</h1>
        {{ if .Content }}
            {{- partial "content.html" . -}}
        {{ end }}
    </div>

    {{ with $res }}
        <div class="my-8 grid gap-4 grid-cols-bookcase-item">
            {{ range . }}
                {{- partial "bookcase/item.html" . -}}
            {{ end }}
        </div>
    {{ end }}
</div>
{{ end }}
