{{ $ctx := .ctx }}
{{ $content := .content }}
{{ $enable_line_no := ($ctx.Scratch.Get "params").syntax_highlight.prism.enable_line_no | default true }}

<article {{ if $enable_line_no }}class="line-numbers"{{ end }}>
    {{ $content := $content | replaceRE "<table(.*?)>" "<table$1 class=\"mc-table\">" }}
    {{ if eq ($ctx.Scratch.Get "params").syntax_highlight.lib "prism.js" }}
        {{ $content = $content | replaceRE "<pre>" "<pre class=\"language-text\">" }}
        {{ $content = $content | replaceRE "<pre([^>]*)class=\"([^>]*)\"([^>]*)>" "<pre$1 class=\"mc-prism hide $2\" $3>" }}
    {{ end }}

    {{ $chunks := split $content "<!-- end-chunk -->" }}
    {{ range $chunks }}
        {{ $section_content := "" }}
        {{ if (gt (len (findRE `<!-- begin-chunk.+?-->` .)) 0) }}
            {{ $anchor := replaceRE `(?s).+data-anchor="(.+?)".+` "$1" . }}
            {{ $chunk := replaceRE `(?s)<!-- begin-chunk.+?-->(.+?)(?:<!-- end-chunk -->|$)` "$1" . }}
            {{ $section_content = printf "<section id=\"%s\">%s</section>" $anchor $chunk }}
        {{ else if (gt (len .) 0) }}
            {{ $section_content = printf "<section>%s</section>" . }}
        {{ end }}
        {{ $section_content | safeHTML }}
    {{ end }}
</article>
