<nav id="header_navbar" class="pure-menu header-menu">
    {{- $currentPage := . -}}
    {{- $currentUrl := .RelPermalink -}}
    {{- $baseURL := .Site.BaseURL }}
    <ul class="pure-menu-list">
        {{- range .Site.Menus.navbar -}}
            {{ $navbar_decoration := "" }}
            {{- if $currentPage.IsMenuCurrent "navbar" . -}}
                {{ $navbar_decoration = "active" }}
            {{- else if eq $currentUrl .URL -}}
                {{ $navbar_decoration = "active" }}
            {{- else if and (in ($currentUrl|lower) (.URL|lower)) (ne (relURL .URL) (relURL $baseURL)) -}}
                {{ $navbar_decoration = "insection" }}
            {{- end -}}

            {{- $name := .Name }}
            {{- with .Identifier }}
              {{- with T . }}
                {{- $name = . }}
              {{- end }}
            {{- end }}

            {{- if .Children -}}
                <li class="header-menu-item header-menu-dropdown pure-menu-item pure-menu-has-children pure-menu-allow-hover {{ $navbar_decoration }}">
                    {{ if .URL }}
                        <a href="{{ .URL }}" class="pure-menu-link">{{- $name -}}</a>
                    {{ else }}
                        <div class="pure-menu-link">{{- $name -}}</div>
                    {{ end }}
                    <ul class="pure-menu-children">
                        {{- partial "navbar/nested-desktop.html" . -}}
                    </ul>
                </li>
            {{- else -}}
                <li class="header-menu-item pure-menu-item {{ $navbar_decoration }}">
                    {{ if .URL }}
                        <a href="{{ .URL }}" class="pure-menu-link">{{- $name -}}</a>
                    {{ else }}
                        <div class="pure-menu-link">{{- $name -}}</div>
                    {{ end }}
                </li>
            {{- end -}}
        {{- end -}}
    </ul>
</nav>
