<div id="search_menu_wrapper" class="hidden">
    <div id="search_menu">
        <div id="search_menu_toolbar">
            <div id="search_menu_input_wrapper">
                <input id="search_menu_input" type="text" placeholder='{{ i18n "search" }}'>
            </div>
            <div id="search_menu_close_btn">
                {{- partial "svg/feather.html" (dict "name" "x" "height" "1.25rem" "width" "1.25rem") -}}
            </div>
        </div>
        <div id="search_menu_results">
        </div>
    </div>
</div>
