{{- $terms := .terms -}}
{{- $sortby := .sortby | default "count" -}}
{{- $order := .order | default "asc" -}}
{{- with $terms -}}
{{- if eq $sortby "count" -}}
    {{- $terms = sort . "Count" $order -}}
{{- else if eq $sortby "alphabetical" -}}
    {{- $terms = sort . "Page.Title" $order -}}
{{- end -}}

    {{ $fontSmall := 0.875 }}
    {{ $fontBig := 1.6 }}
    {{ $fontSpread := sub $fontBig $fontSmall }}

    {{ $termCount := slice }}
    {{ range $terms }}
        {{ $termCount = append .Count $termCount }}
    {{ end }}
    {{ $termCount = sort $termCount }}

    {{ $min := int (index $termCount 0) }}
    {{ $max := add (int (index $termCount (sub (len $termCount) 1))) 1 }}

    <div class="terms-cloud">
        {{ range $terms }}
            {{ $weight := div (sub (math.Log .Count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
            {{ $fontSize := (add $fontSmall (mul $fontSpread $weight)) }}

            <a class="term-item" href="{{ .Page.RelPermalink }}">
                <span style="font-size:{{ $fontSize }}rem">{{- .Page.Title -}}</span>
                <span style="font-size:{{ sub $fontSmall 0.2 }}rem"> ({{- .Count -}}) </span>
            </a>
        {{ end }}
    </div>
{{ end }}
