$gray-1000: #000;
$gray-900: #222;
$gray-800: #333;
$gray-700: #404040;
$gray-600: #555;
$gray-500: #737373;
$gray-400: #8b8b8b;
$gray-300: #a3a3a3;
$gray-200: #d4d4d4;
$gray-100: #e5e5e5;
$gray-50: #f5f5f5;
$gray-0: #fff;

html[data-theme="light"] {
  --color-text: #{$gray-900};
  --color-text-secondary: #{$gray-500};
  --color-border: #{$gray-200};
  --color-background: #{$gray-0};
  --color-background-hover: #{$gray-50};
  --color-background-overlay: #{$gray-100};
  --color-background-inline-code: #{$gray-50};
  --color-background-card: #{$gray-0};
  --color-link: #2563eb;
  --color-navbar-item-inactive: #{$gray-300};
  --color-navbar-item-active: #{$gray-900};
  --color-navbar-item-in-section: #{$gray-600};
}

html[data-theme="dark"] {
  --color-text: #{$gray-100};
  --color-text-secondary: #{$gray-300};
  --color-border: #{$gray-500};
  --color-background: #{$gray-800};
  --color-background-hover: #{$gray-600};
  --color-background-overlay: #{$gray-600};
  --color-background-inline-code: #{$gray-600};
  --color-background-card: #{$gray-700};
  --color-link: #93c5fd;
  --color-navbar-item-inactive: #{$gray-400};
  --color-navbar-item-active: #{$gray-100};
  --color-navbar-item-in-section: #{$gray-300};
}

// Default color settings

html {
  color: var(--color-text);
  background: var(--color-background);
  font-size: 16px;
}

a {
  color: var(--color-link);
  text-decoration: none;
}