@import 'purecss/base';
@import 'purecss/grids';
@import 'purecss/grids-responsive';

@import 'color';
@import 'vars';

.hidden {
  display: none;
}

main {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}


@import 'header';
@import 'menus';