$sm_min_width: 35.5rem;
$md_min_width: 48rem;
$lg_min_width: 64rem;
$xl_min_width: 80rem;
$xxl_min_width: 120rem;

$sm_main_width: 93vw;
$md_main_width: 80vw;
$lg_main_width: 70vw;
$xl_main_width: 50vw;
$xxl_main_width: 50vw;

$sm_header_width: 93vw;
$md_header_width: 90vw;
$lg_header_width: 85vw;
$xl_header_width: 70vw;
$xxl_header_width: 70vw;

$header_height: 3rem;
$header_btn_size: 2rem;
$toc_top_margin: 2.5rem;
$toc_bottom_margin: 2rem;
