$size-5xs: 0.1rem;
$size-4xs: 0.2rem;
$size-3xs: 0.35rem;
$size-2xs: 0.5rem;
$size-xs: 0.75rem;
$size-sm: 0.875rem;
$size-base: 1rem;
$size-lg: 1.125rem;
$size-xl: 1.25rem;
$size-2xl: 1.5rem;
$size-3xl: 1.875rem;
$size-4xl: 2.25rem;
$size-5xl: 3rem;
$size-6xl: 3.75rem;
$size-7xl: 4.5rem;
$size-8xl: 6rem;
$size-9xl: 8rem;


$sm_min_width: 35.5em;
$md_min_width: 48em;
$lg_min_width: 64em;
$xl_min_width: 80em;
$xxl_min_width: 120em;
