$sm_min_width: 35.5rem;
$md_min_width: 48rem;
$lg_min_width: 64rem;
$xl_min_width: 80rem;
$xxl_min_width: 120rem;

$sm_body_width: 100%;
$md_body_width: 80%;
$lg_body_width: 55%;
$xl_body_width: 55%;
$xxl_body_width: 55%;

