.icon {
  display: flex;

  > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: var(--color-text);

    &:hover {
      color: var(--color-text-secondary);
    }
  }
}