ul.list-layout {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: .5rem;
    line-height: 1.625;
    display: list-item;

    a {
      color: var(--color-text);
      border-bottom: 2px solid var(--color-border);

      &:hover {
        border-bottom-color: var(--color-text-secondary);
      }
    }

    span {
      @include text-xs;
      color: var(--color-text-secondary);
    }
  }
}