#sidebar_btn_input:checked ~ #sidebar_canvas_overlay_wrapper #sidebar_canvas_overlay {
  display: block;
}

#sidebar_canvas_overlay {
  background-color: rgba(0,0,0,.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 20;
  background-color: var(--color-background);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s;
  transform: translateX(-100%);
  overflow-y: auto;
  width: 60%;

  @media screen and (min-width: $sm_min_width) {
    width: 40%;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  li {
    margin: 1.2rem;
  }

  a {
    color: var(--color-text);
  }
}

#sidebar_btn_input:checked ~ #sidebar {
  display: block;
  transform: translateX(0);
}
