.fill-400 {
  @apply fill-gray-400 dark:fill-gray-400;
}

.fill-600 {
  @apply fill-gray-600 dark:fill-gray-200;
}

.fill-600-hover {
  @apply hover:fill-gray-600 dark:hover:fill-gray-200;
}

.fill-800 {
  @apply fill-gray-800 dark:fill-gray-100;
}

.fill-800-hover {
  @apply hover:fill-gray-800 dark:hover:fill-gray-100;
}
