.text-800 {
  @apply text-gray-800 dark:text-gray-300;
}

.text-800-hover {
  @apply hover:text-gray-800 dark:hover:text-gray-50;
}

.text-600 {
  @apply text-gray-600 dark:text-gray-200;
}

.text-500 {
  @apply text-gray-500 dark:text-gray-300;
}

.text-400 {
  @apply text-gray-400 dark:text-gray-400;
}

.text-0 {
  @apply text-white dark:text-white;
}
