{{ .Scratch.SetInMap "params" "usePrismJS" (.Site.Params.usePrismJS | default false) }}
{{ .Scratch.SetInMap "params" "enableSiteSearch" (.Site.Params.enableSiteSearch | default false) }}

{{ .Scratch.SetInMap "params" "enablePrismJSLineNo" (.Params.prism_lineno | default .Site.Params.enablePrismJSLineNo | default true) }}
{{ .Scratch.SetInMap "params" "navbarTitle" (.Params.navbar_title | default .Site.Params.navbarTitle | default .Site.Title) }}
{{ .Scratch.SetInMap "params" "author" (.Params.author | default .Site.Params.author) }}
{{ .Scratch.SetInMap "params" "enableOpenGraph" (.Params.open_graph | default .Site.Params.enableOpenGraph | default true) }}
{{ .Scratch.SetInMap "params" "enableTwitterCards" (.Params.twitter_cards | default .Site.Params.enableTwitterCards | default true) }}
{{ .Scratch.SetInMap "params" "enableTOC" (.Params.toc | default .Site.Params.enableTOC | default true) }}
{{ .Scratch.SetInMap "params" "enableZoomingJS" (.Params.zooming_js | default .Site.Params.enableZoomingJS | default true) }}
{{ .Scratch.SetInMap "params" "enableCodeCopy" (.Params.code_copy | default .Site.Params.enableCodeCopy | default true) }}
{{ .Scratch.SetInMap "params" "gaCode" (.Params.ga | default .Site.GoogleAnalytics) }}
{{ .Scratch.SetInMap "params" "footer" (.Params.footer | default .Site.Params.footer) }}
{{ .Scratch.SetInMap "params" "math" (.Params.math | default .Site.Params.enableMathJax | default false) }}
{{ .Scratch.SetInMap "params" "enableCollapsibleTOC" (.Params.collapsible_toc | default .Site.Params.enableCollapsibleTOC | default false) }}
{{ .Scratch.SetInMap "params" "enableCollapsibleChangelogs" (.Params.collapsible_changelogs | default .Site.Params.enableCollapsibleChangelogs | default false) }}

<!DOCTYPE html>
<html class="h-full w-full font-sans" lang='{{ .Site.LanguageCode }}'>
    {{- partial "head.html" . -}}
    <body class="flex flex-col items-center w-full">
        <main class="w-full sm:w-10/12 md:w-9/12 lg:w-7/12 xl:w-5/12 m-auto px-6">
            {{- partial "header.html" . -}}
            <div id="content" class="my-8">
                {{ if .Params.changelogs }}
                    {{ $enableCollapsibleChangelogs := (.Scratch.Get "params").enableCollapsibleChangelogs }}
                    {{ partial "collapsible-menu.html" (dict "type" "changelogs" "context" . "enable" $enableCollapsibleChangelogs) }}
                {{ end }}

                {{- block "content" . }}{{- end }}

                {{ if eq .Kind "page" }}
                    {{ if (.Params.disqus | default .Site.DisqusShortname) }}
                        {{- partial "disqus.html" . -}}
                    {{ end }}
                {{ else }}
                    {{ if (.Params.disqus | default false) }}
                        {{- partial "disqus.html" . -}}
                    {{ end }}
                {{ end }}
            </div>
            {{- partial "footer.html" . -}}
        </main>
        {{- partial "resources/js.html" . -}}
    </body>
</html>
