{{- define "content" -}}

{{ $terms := .Data.Terms.ByCount }}

{{ if $terms }}
    {{ $fontSmall := .Page.Params.design.font_size_min | default 1 }}
    {{ $fontBig := .Page.Params.design.font_size_max | default 2 }}

    {{ $terms_count := slice }}

    {{ range $terms }}{{ $terms_count = append .Count $terms_count }}{{ end }}
    {{ $max := int (index $terms_count 0) }}
    {{ $min := int (index $terms_count (sub (len $terms_count) 1)) }}
    {{ $delta := sub $max $min }}

    <section>
        {{ range $terms }}
            {{ $term_num := len .Pages }}
            {{ $weight := div (math.Log (div ($term_num) $min)) (math.Log (div $max $min)) }}
            {{ $fontSize := add $fontSmall (mul (sub $fontBig $fontSmall) $weight) }}

            <a href="{{ .Page.RelPermalink }}">
                <span class="text-gray-800" style="font-size:{{ $fontSize }}rem">{{- .Page.Title -}}</span>
                <span class="text-gray-400" style="font-size:{{ $fontSmall }}rem"> ({{- $term_num -}}) </span>
            </a>
        {{ end }}
    </section>
{{ end }}


{{- end -}}