{{- define "content" -}}

<div>
    <h1 class="font-bold text-black text-2xl mb-4 mt-8">{{ .Title }}</h1>
    {{ with .Pages.ByPublishDate }}
        <ul class="my-2">
            {{ range . }}
                <li class="mb-2 leading-relaxed">
                    <a href="{{ .RelPermalink }}" class="text-base text-gray-800 border-gray-300 border-b-2 hover:border-gray-700">
                        {{- .Title -}}
                    </a>
                    <span class="text-xs text-gray-500">
                        {{- .PublishDate.Format "2006/01/02" -}}
                    </span>
                </li>
            {{ end }}
        </ul>
    {{ end }}
</div>

{{- end -}}