ul.list-layout {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: .5rem;
    line-height: 1.625;
    display: list-item;
    list-style-type: none;

    a {
      @include list-link-item;
      line-height: 1.7rem;
    }

    span {
      @include text-xs;
      color: var(--color-text-secondary);
    }
  }
}
