@mixin list-link-item {
  color: var(--color-text);
  border-bottom: 2px solid var(--color-border);
  white-space: nowrap;
  line-height: 1.7rem;

  &:hover {
    border-bottom-color: var(--color-text-secondary);
  }
}