#TableOfContents {
  ul ul {
    @apply ml-2;
  }

  li {
    @apply mt-1.5;
  }
}

.collapsible-menu-wrapper {
  .collapse-btn-input:checked ~ div > .collapse-btn {
    transform: rotate(90deg);
  }

  .collapse-btn-input ~ .collapsible-menu {
    @apply hidden;
  }

  .collapse-btn-input:checked ~ .collapsible-menu {
    @apply block;
  }

  .collapse-btn {
    @apply cursor-pointer;
    transition: all 0.1s ease-out;
    transform-origin: 11px 12px;
    transform: rotate(0deg);
  }
}
