
.overflow-indicator-wrapper
  @apply relative -mx-1 flex items-center

  .overflow-indicator-content
    @apply px-1 block overflow-x-auto overflow-y-hidden whitespace-nowrap

  .overflow-indicator
    @apply absolute w-1 h-full z-10 items-center

  .overflow-indicator-overlay-left
    @apply top-0 left-0
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)

  .overflow-indicator-overlay-right
    @apply top-0 right-0
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)

  .overflow-indicator-btn
    @apply w-8 h-8 flex items-center justify-center rounded-full bg-white shadow cursor-pointer hidden z-20

    &:hover
      @apply bg-gray-100 transition-all ease-in-out duration-150

  .overflow-indicator-btn.show
    @apply flex

  .overflow-indicator-btn-left
    @apply -left-4

    &::before
      @apply block absolute top-1/2 left-1/2
      content: ''
      border-top: solid 6px transparent
      border-right: solid 6px #000000
      border-bottom: solid 6px transparent
      margin: -6px 0 0 -3px

  .overflow-indicator-btn-right
    @apply -right-4

    &::before
      @apply block absolute top-1/2 left-1/2
      content: ''
      border-top: solid 6px transparent
      border-left: solid 6px #000000
      border-bottom: solid 6px transparent
      margin: -6px 0 0 -3px

