{{- if .enable -}}
<details class="collapsible-menu-wrapper">
{{- else -}}
<div class="collapsible-menu-wrapper">
{{- end -}}

    {{- if .enable -}}
    <summary class="collapsible-menu-type">
    {{- else -}}
    <div class="collapsible-menu-type">
    {{- end -}}
        <span>{{ i18n .type }}</span>
    {{- if .enable -}}
    </summary>
    {{- else -}}
    </div>
    {{- end -}}

    <div class="collapsible-menu">
        {{ if eq .type "changelogs" }}
            <article id="collapsible_menu_changelogs">
                {{ range $log := .context.Params.changelogs }}
                    <div>{{ $log.tag | markdownify }}</div>
                    <div>
                        {{ range $log.description }}
                            <div>{{ . | markdownify }}</div>
                        {{ end }}
                    </div>
                {{ end }}
            </article>
        {{ else if eq .type "toc" }}
            {{ .context.TableOfContents }}
        {{ end }}
    </div>
{{- if .enable -}}
</details>
{{- else -}}
</div>
{{- end -}}
