{{ $show_date := .show_date | default true }}
{{ $pages := .pages }}

{{- if $pages -}}
{{- if $show_date -}}
    {{- $pages = $pages.ByPublishDate.Reverse -}}
{{- end -}}
<ul class="list-layout">
    {{ range $pages }}
        <li>
            <a href="{{ .RelPermalink }}">
                {{- .Title -}}
            </a>
            {{ if $show_date }}
                <span>
                    {{- .PublishDate.Format "2006/01/02" -}}
                </span>
            {{ end }}
        </li>
    {{ end }}
</ul>
{{- end -}}
