<div id="search_menu_wrapper" class="hidden">
    <div id="search_menu">
        <div id="search_menu_toolbar">
            <div id="search_menu_input_wrapper">
                <input id="search_menu_input" type="text" placeholder='{{ i18n "search" }}'>
            </div>
            <div id="search_menu_close_btn">
                <svg width="18px" height="18px" viewBox="0 0 24 24">
                    {{- partial "svg/close.html" -}}
                </svg>
            </div>
        </div>
        <div id="search_menu_results">
        </div>
    </div>
</div>
