<div id="search_menu_wrapper" class="hidden justify-center fixed top-0 left-0 w-full h-full z-40">
    <div id="search_menu" class="fixed flex flex-col w-full h-full sm:h-auto sm:top-24 sm:bottom-24 rounded-none sm:rounded-md sm:w-120 z-50">
        <div class="flex min-h-10 shadow-md">
            <div class="flex flex-grow">
                <input id="search_menu_input" class="flex-grow focus:outline-none px-4 rounded-tl-md" type="text" placeholder=
                {{ i18n "search" }}>
            </div>
            <div id="search_menu_close_btn" class="flex items-center justify-center w-10 rounded-tr-md cursor-pointer">
                <svg width="14px" height="14px" viewBox="3 3 18 18">
                    {{- partial "svg/close.html" -}}
                </svg>
            </div>
        </div>
        <div id="search_menu_results" class="flex-grow overflow-y-auto">
        </div>
    </div>
</div>
