{{ range .Children }}
    {{ if .Children }}
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="{{ .URL }}" class="pure-menu-link">{{- .Name -}}</a>
            <ul class="pure-menu-children">
                {{- partial "navbar/nested-desktop.html" . -}}
            </ul>
        </li>
    {{ else }}
        <li class="pure-menu-item">
            <a href="{{ .URL }}" class="pure-menu-link">{{- .Name -}}</a>
        </li>
    {{ end }}
{{ end }}
