{{ with .Children }}
    <ul>
        {{ range . }}
            {{ if .Children }}
                <li>
                    {{ if .URL }}
                        <span><a href="{{ .URL }}">{{- .Name -}}</a></span>
                    {{ else }}
                        <span>{{- .Name -}}</span>
                    {{ end }}
                    {{- partial "navbar/nested-mobile.html" . -}}
                </li>
            {{ else }}
                <li>
                    {{ if .URL }}
                        <a href="{{ .URL }}">{{- .Name -}}</a>
                    {{ else }}
                        <div>{{- .Name -}}</div>
                    {{ end }}
                </li>
            {{ end }}
        {{ end }}
    </ul>
{{ end }}