{{ $ctx := .ctx }}
{{ $pages := .pages }}

<div class="postcard-layout content-margin">
    {{ range ($ctx.Paginator).Pages }}
        <a href="{{ .Permalink }}">
            <div class="postcard-item">
                <div class="postcard-title">
                    <span>{{ .Title }}</span>
                </div>
                <div class="postcard-summary">
                    <span>{{ .Summary | plainify }}</span>
                </div>
                <div class="postcard-metadata">
                    <span>{{ .Date.Format "2006/01/02" }} · {{ .CurrentSection.Title }}</span>
                </div>
            </div>
        </a>
    {{ end }}
    {{ template "_internal/pagination.html" $ctx }}
</div>
