{{ $icon_link := .Get "link" }}
{{ $icon_name := .Get "name" }}

<div class="inline-block w-6 h-6 svg-wrapper">
    {{ if $icon_link }}
        <a rel="noopener" target="_blank" href="{{ $icon_link }}" aria-label="{{ if $icon_name }}$icon_name{{ else }}svg-wrapper{{ end }}">
    {{ else }}
        <div>
    {{ end }}
        {{ if $icon_name }}
            {{- partial (printf "svg/%s.html" $icon_name) -}}
        {{ else }}
            {{ .Inner | safeHTML }}
        {{ end }}
    {{ if $icon_link }}
        </a>
    {{ else }}
        </div>
    {{ end }}
</div>
